body{  
    /* background-image: url('https://images2.alphacoders.com/754/thumb-1920-75420.jpg'); */
    /* background-position: 51% 11%; */
}

p{
    display: inline-block;
}

.main-header{
    text-align: center;
    padding-top: 10px;
    color: #000;
}

.pokedex{
    width: 30%;
    position: absolute;
    left: 739px;
    top: -8px;
}

.grid{
    width: 1138px;
    height: 392px;
    background: #fff;
    /* margin: 5px; */
    display: block;
    margin: 0 auto;
    position: relative;
    top: 46px;
    border-radius: 30px;
}

#pokeNum1{
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
}

#pokeNum2{
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
}

#pokeNum3{
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
}

.container{
    margin: 10px;
}

.container-1{
    background: red;
    height: 500px;
}

.container-2{
    background: purple;
    height: 500px;
}

.container-3{
    background: green;
    height: 500px;
}

.header{
    text-transform: uppercase;
    font-weight: 600;
}

.firstimg{
    width: 11%;
    position: absolute;
    left: 883px;
    top: 32px;
    z-index: 1;
}

.pokedex-2{
    width: 30%;
    position: absolute;
    left: 739px;
    top: -8px;
}

.pokedex-3{
    width: 30%;
    position: absolute;
    left: 739px;
    top: -8px;
}

.secondimg{
    width: 10%;
    position: absolute;
    left: 896px;
    top: 39px;
    z-index: 1;
}

.thirdimg{
    width: 8%;
    position: absolute;
    left: 896px;
    top: 52px;
    z-index: 1;
}