#pokeNum3, #pokeNum2, #pokeNum1 {
  font-family: sans-serif;
  font-size: 30px;
  text-align: center;
  display: inline;
  position: relative;
  left: 162px;
  top: 28px;
  color: white;
}

.pokedex-3, .pokedex-2, .pokedex {
  width: 33%;
  position: absolute;
  left: 474px;
  top: 47px;
}

.stat-container-3, .stat-container-2, .stat-container {
  height: 269px;
  width: 450px;
  margin: 31px 0 0 17px;
  border: 2px solid #000;
  border-radius: 15px;
  background: whitesmoke;
}

.container-3, .container-2, .container-1, .container-0 {
  height: 700px;
}

.container-0 .trainer-info {
  height: 437px;
  width: 471px;
  background: white;
  display: inline-block;
  position: relative;
  top: -13px;
  left: 445px;
  border-radius: 15px;
}

.poke-stats-3 h3, .poke-stats-2 h3, .poke-stats-1 h3 {
  padding: 5px;
}
.poke-stats-3 p, .poke-stats-2 p, .poke-stats-1 p {
  font-size: 20px;
  padding: 4px;
  font-weight: 500;
}

.thirdimg, .secondimg, .firstimg {
  position: absolute;
  z-index: 1;
}

.container-0 .trainer-info div, .main-nav ul li, .main-nav ul {
  display: inline-block;
}

.container-3, .container-2, .container-1, .container-0 {
  min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-nav {
  background: #ffffff00;
  position: fixed;
  z-index: 3;
}
.main-nav ul li {
  font-size: 28px;
  padding: 10px;
  background: #cc4c30;
  border-radius: 15px;
}
.main-nav ul li a {
  text-decoration: none;
  color: #fff;
}
.main-nav ul li a:hover {
  color: #d6cfcf;
}
.main-nav ul li:nth-child(2) {
  background: #c3da45;
}
.main-nav ul li:nth-child(3) {
  background: #9e44be;
}
.main-nav ul li:nth-child(4) {
  background: #4460be;
}

.container-0 {
  background-image: url("pokemonbg.jpg");
}
.container-0 section {
  text-align: left;
  padding-top: 80px;
  padding-left: 150px;
}
.container-0 section img {
  width: 20%;
  position: absolute;
}
.container-0 section h1 {
  color: #fff;
  text-align: center;
  padding-bottom: 1%;
  padding-left: 1%;
}
.container-0 .trainer-info div {
  width: 230px;
}
.container-0 .trainer-info div h3 {
  font-size: 21px;
  padding: 18px 0 18px 0;
}
.container-0 .trainer-info div p {
  padding: 21px 0 18px 0;
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.cont-div {
  height: 50px;
  background-color: #E3350D;
}

.container-1 {
  background-image: url("geodude.png");
}

.container-2 {
  background-image: url("dus.jpg");
}

.container-3 {
  background-image: url("mewt.jpg");
}

.grid {
  width: 739px;
  height: 392px;
  background: #fff0;
  display: block;
  position: relative;
  top: 46px;
  border-radius: 30px;
}

.poke-info {
  width: 750px;
  height: 280px;
  background: #fff;
  position: relative;
  left: 55px;
  top: 100px;
  border-radius: 15px;
}
.poke-info h1 {
  text-align: center;
  font-size: 28px;
}
.poke-info p {
  text-align: left;
  margin: 2%;
  line-height: 1.8;
}

.pokeball {
  width: 6%;
  position: absolute;
  top: 236px;
  right: 97px;
}

#pokemons {
  text-align: center;
  color: white;
}

.header {
  text-transform: uppercase;
  font-weight: 600;
}

.firstimg {
  width: 12%;
  left: 578px;
  top: 82px;
}

.secondimg {
  width: 12%;
  left: 582px;
  top: 82px;
}

.thirdimg {
  width: 10%;
  left: 581px;
  top: 87px;
}

.poke-id {
  color: #9DB7F5;
}

.poke-hp {
  color: #FF5959;
}

.poke-atk {
  color: #F5AC78;
}

.poke-def {
  color: #FAE078;
}

.poke-abi {
  color: #A7DB8D;
}

.tname {
  color: #a868c0;
}

/*# sourceMappingURL=main.css.map */
