// FUNCTIONS TO BE APPLIED TO ATTRIBUTES

%pokemon-name{
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    display: inline;
    position: relative;
    left: 162px;
    top: 28px;
    color: white;
}

%pokedex-pos{
    width: 33%;
    position: absolute;
    left: 474px;
    top: 47px;
}

%stat-size{
    height: 269px;
    width: 450px;
    margin: 31px 0 0 17px;
    border: 2px solid #000;
    border-radius: 15px;
    background: whitesmoke;
}

%container-size{
    height: 700px;
}

%trainer-info-size{
    height: 437px;
    width: 471px;
    background: white;
    display: inline-block;
    position: relative;
    top: -13px;
    left: 445px;
    border-radius: 15px;
}

%poke-stats{
    h3{
        padding: 5px;
        
    }

    p{
        font-size: 20px;
        padding: 4px;
        font-weight: 500;
    }
}

%img-attributes{
    position: absolute;
    z-index: 1;
}

%display-attribute{
    display: inline-block;
}

%bg-attribute{
    min-height: 800px; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

// END OF THE FUNCTIONS FOR THE STYLESHEET

.main-nav{
    background: #ffffff00;
    position: fixed;
    z-index: 3;
    ul{
        @extend %display-attribute;
        li{
            @extend %display-attribute;
            font-size: 28px;
            padding: 10px;
            background: rgb(204, 76, 48);
            border-radius: 15px;
            a{
                text-decoration: none;
                color: #fff;
            }
                    a:hover{
                        color: #d6cfcf;
                    }
        }
        li:nth-child(2){
            background: #c3da45;
        }
        li:nth-child(3){
            background: #9e44be;
        }
        li:nth-child(4){
            background: #4460be;
        }
    }
}

.container-0{
    @extend %container-size;
    background-image: url('pokemonbg.jpg');
    @extend %bg-attribute;

    section{
        text-align: left;
        padding-top: 80px;
        padding-left: 150px;
        img{
            width: 20%;
            position: absolute;
        }
        h1{
            color: #fff;
            text-align: center;
            padding-bottom: 1%;
            padding-left: 1%;
        }
    }

    .trainer-info{
    @extend %trainer-info-size;

    div{
        @extend %display-attribute;
        width: 230px;
        h3{
            font-size: 21px;
            padding: 18px 0 18px 0;
        }
        p{
            padding: 21px 0 18px 0;
            margin: 0;
            font-size: 20px;
            font-weight: 600;
        }
    }
}
    
}

// END OF FIRST CONTAINER

.cont-div{
    height: 50px;
    background-color: #E3350D;
}

.container-1{
    @extend %container-size;
    background-image: url('geodude.png');
    @extend %bg-attribute;
}

.container-2{
    @extend %container-size;
    background-image: url('dus.jpg');
    @extend %bg-attribute;
}

.container-3{
    @extend %container-size;
    background-image: url('mewt.jpg');
    @extend %bg-attribute;
}

.grid{
    width: 739px;
    height: 392px;
    background: #fff0;
    display: block;
    position: relative;
    top: 46px;
    border-radius: 30px;
}

.poke-info{
    width: 750px;
    height: 280px;
    background: #fff;
    position: relative;
    left: 55px;
    top: 100px;
    border-radius: 15px;

    h1{
        text-align: center;
        font-size: 28px;
    }
    p{
        text-align: left;
        margin: 2%;
        line-height: 1.8;

    }
}

.pokeball{
    width: 6%;
    position: absolute;
    top: 236px;
    right: 97px;
}

.poke-stats-1{
    @extend %poke-stats;
}

.poke-stats-2{
    @extend %poke-stats;
}


.poke-stats-3{
    @extend %poke-stats;
}

#pokeNum1{
    @extend %pokemon-name;
    
}

#pokeNum2{
    @extend %pokemon-name;
    
}

#pokeNum3{
    @extend %pokemon-name;
}
  
#pokemons{
    text-align: center;
    color: white;
}

.header{
    text-transform: uppercase;
    font-weight: 600;
}

.pokedex{
    @extend %pokedex-pos;
}

.pokedex-2{
    @extend %pokedex-pos;
}

.pokedex-3{
    @extend %pokedex-pos;
}

.firstimg{
    width: 12%;
    left: 578px;
    top: 82px;
    @extend %img-attributes;
}

.secondimg{
    width: 12%;
    left: 582px;
    top: 82px;
    @extend %img-attributes;
}

.thirdimg{
    width: 10%;
    left: 581px;
    top: 87px;
    @extend %img-attributes;
}

.stat-container{
    @extend %stat-size;
}

.stat-container-2{
    @extend %stat-size;      
}

.stat-container-3{
    @extend %stat-size;
}

.poke-id{
    color: #9DB7F5;
}

.poke-hp{
    color: #FF5959;
}

.poke-atk{
    color: #F5AC78;
}

.poke-def{
    color: #FAE078;
}

.poke-abi{
    color: #A7DB8D;
}     

.tname{
    color: #a868c0;
}



