%pokemon-name{
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    display: inline;
    position: relative;
    left: 162px;
    top: 28px;
    color: white;
}

%pokedex-pos{
    width: 33%;
    position: absolute;
    left: 474px;
    top: 47px;
}

%stat-size{
    height: 269px;
    width: 450px;
    margin: 31px 0 0 17px;
    border: 2px solid #000;
    border-radius: 15px;
    background: whitesmoke;
}

%container-size{
    height: 700px;
}

%poke-stats{
    h3{
        padding: 5px;
        
    }

    p{
        font-size: 20px;
        padding: 4px;
        font-weight: 500;
    }
}

%img-attributes{
    position: absolute;
    z-index: 1;
}

.poke-stats-1{
    @extend %poke-stats;
}

.poke-stats-2{
    @extend %poke-stats;
}


.poke-stats-3{
    @extend %poke-stats;
}

.main-nav{
    height: 81px;
    background: red;
}
    .main-header{
        h1{

            text-align: center;
            padding-top: 10px;
            color: #000;
        }
    height: 110px;
    width: 370px;
    border: 1px solid black;
    background: white;
    position: absolute;
    right: 549px;
    top: 0px;
    }



.grid{
    width: 739px;
    height: 392px;
    background: #fff0;
    display: block;
    position: relative;
    top: 46px;
    border-radius: 30px;
}


#pokeNum1{
    @extend %pokemon-name;
    
}

#pokeNum2{
    @extend %pokemon-name;
    
}

#pokeNum3{
    @extend %pokemon-name;
}

.container-1{
    @extend %container-size;
    background-image: url('geodude.png');
    background-position: 1496px 539px;
}

.container-2{
    @extend %container-size;
    background-image: url('dus.jpg');
    background-position: 96px 735px;
    background-size: cover;
}

.container-3{
    @extend %container-size;
    background-image: url('mewtwo.jpg');
    background-position: 1506px -94px;
    background-size: cover;
}

.header{
    text-transform: uppercase;
    font-weight: 600;
}

.pokedex{
    @extend %pokedex-pos;
}

.pokedex-2{
    @extend %pokedex-pos;
}

.pokedex-3{
    @extend %pokedex-pos;
}

.firstimg{
    width: 12%;
    left: 578px;
    top: 82px;
    @extend %img-attributes;
}

.secondimg{
    width: 12%;
    left: 582px;
    top: 82px;
    @extend %img-attributes;
}

.thirdimg{
    width: 10%;
    left: 581px;
    top: 87px;
    @extend %img-attributes;
}


.stat-container{
    @extend %stat-size;
}

.stat-container-2{
    @extend %stat-size;
        
}

.stat-container-3{
    @extend %stat-size;
}

.poke-id{
    color: #9DB7F5;
}

.poke-hp{
    color: #FF5959;
}

.poke-atk{
    color: #F5AC78;
}

.poke-def{
    color: #FAE078;
}

.poke-abi{
    color: #A7DB8D;
}       